<div class="be-content">

  <div class="main-content container-fluid">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">Lịch sử
      </div>
      <div class="panel-body">
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th>TxHash</th>
              <th>Block</th>
              <!-- <th>Age</th> -->
              <th>From</th>
              <th></th>
              <th>To</th>
              <th>Value</th>
              <th>TxFee</th>
            </tr>
          </thead>
          <tbody class="no-border-x">
              <tr *ngFor="let item of transactionsHistory">
                  <td>{{item.hash}}}</td>
                  <td>{{item.blockNumber}}</td>
                  <!-- <td>Chưa thực hiện</td> -->
                  <td>{{item.from}}}</td>
                  <td>{{item.from == myHashIdLowerCase ? 'OUT' : 'IN'}}</td>
                  <td>{{item.to}}</td>
                  <td>{{item.value.c[0]/10000}} ETH</td>
                  <td>{{(item.gas * item.gasPrice.c[0])/1000000000000000000}} ETH</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>