.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0px 1 20px rgba(0, 0, 0, .08);

  .brand {
    img {
      height: 40px;
      width: auto
    }
  }

  .user {
    p {
      display: inline-block;
      margin-right: 15px;
    }

    .btn-main {
      padding: 5px 10px;
    }
  }
}
