<nav class="navbar navbar-default navbar-fixed-top be-top-header">
  <div class="container-fluid">
    <div class="navbar-header"><a href="index.html" class="navbar-brand"></a></div>
    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img
              src="assets/img/avatar.png" alt="Avatar"><span class="user-name">Dư Thanh Được</span></a>
          <ul role="menu" class="dropdown-menu">
            <!-- <li>
              <div class="user-info">
                <div class="user-name">Dư Thanh Được</div>
              </div>
            </li> -->
            <li><a (click)="logOut()" ><span class="icon mdi mdi-power"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
      <h4 class="balance">{{blockchain.balance}} ETH</h4>
      <div class="page-title"><span>{{menu.currentTitle}}</span></div>
    </div>
  </div>
</nav>