<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row wizard-row">
      <div class="col-md-12 fuelux">
        <div class="block-wizard panel panel-default ">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Ngày nhập viện</th>
                <th>Chuẩn đoán</th>
                <th>Ngày xuất viện</th>
                <th>Tổng giá</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <tbody class="no-border-x">
              <tr *ngFor="let item of listPayment">
                <td>{{item.patient.name}}</td>
                <td>{{item.patient.age}}</td>
                <td>{{item.patient.startDate}}</td>
                <td>{{item.patient.result}}</td>
                <td>{{item.patient.endDate}}</td>
                <td>{{item.price.total}}</td>
                <td>{{item.status == '0' ? 'Chưa Thanh Toán' : 'Đã Thanh Toán'}}</td>
              </tr>
            </tbody>
          </table>
          <h4>Thêm</h4>
          <form  style="border-radius: 0px;" class="form-horizontal group-border-dashed">
            <div class="form-group">
              <label class="col-sm-3 control-label">Tên</label>
              <div class="col-sm-6">
                <input  [formControl]="newUser.patient.name"   type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tuổi</label>
              <div class="col-sm-6">
                <input  [formControl]="newUser.patient.age" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Điện thoại</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.patient.phone" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ngày nhập viện</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.patient.startDate" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Lý do nhập viện</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.patient.reason" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Chuẩn đoán</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.patient.result" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tình trạng lúc vào viện</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.patient.statusOut" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ngày xuất viện</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.patient.endDate" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Giá tiền</label>
              <div class="col-sm-6">
                <input [formControl]="newUser.price.priceStart"  type="number" class="form-control">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Phí</label>
                <div class="col-sm-6">
                  <input value="{{newUser.price.fee}}"  readonly type="text" class="form-control" >
                </div>
              </div>
              <!-- <div class="form-group">
                  <label class="col-sm-3 control-label">Tổng tiền</label>
                  <div class="col-sm-6">
                    <input  readonly type="text" value="{{newUser.price.priceStart.value + newUser.price.fee}}" class="form-control">
                  </div>
                </div> -->
            <div _ngcontent-c9="" class="form-group">
              <div _ngcontent-c9="" class="col-sm-offset-2 col-sm-10"><button _ngcontent-c9="" class="btn btn-primary btn-space next" (click)="add()"
                  type="button">Thêm</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
