<div class="be-splash-screen">
  <div class="be-wrapper be-login">
    <div class="be-content">
      <div class="main-content container-fluid">
        <div class="splash-container">
          <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading"><img src="assets/img/logo-xx.png" alt="logo" width="102" height="27" class="logo-img"><span class="splash-description">Sign in to your wallet below</span></div>
            <div class="panel-body">
              <form >
                <div class="form-group">
                  <input [formControl]="hashId" id="walletId" type="text" placeholder="Wallet Id" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                  <input [formControl]="password" id="password" type="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group login-submit">
                  <button data-dismiss="modal" type="button" class="btn btn-primary btn-xl" (click)="login()">Sign me in</button>
                </div>
              </form>
            </div>
          </div>
          <div class="splash-footer"><span>Don't have an account? <a href="#">Sign Up</a></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
