<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row wizard-row">
      <div class="col-md-12 fuelux">
        <div class="block-wizard panel panel-default ">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Ngày nhập viện</th>
                <th>Chuẩn đoán</th>
                <th>Ngày xuất viện</th>
                <th>Tổng giá</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody class="no-border-x">
              <tr *ngFor="let item of listPayment">
                <td>{{item.patient.name}}</td>
                <td>{{item.patient.age}}</td>
                <td>{{item.patient.startDate}}</td>
                <td>{{item.patient.result}}</td>
                <td>{{item.patient.endDate}}</td>
                <td>{{item.price.total}}</td>
                <td>{{item.status == 0 ? 'Chưa thanh toán' : 'Đã thanh toán'}}</td>
                <td><button (click)="pay(item)" class="btn btn-space btn-primary btn-sm"><i class="icon icon-left mdi mdi-cloud-done"></i>
                    Thanh toán</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
