<div class="be-content" id="dashboard">

  <div class="main-content container-fluid">
    <div class="panel panel-contrast">
      <div class="panel-heading panel-heading-contrast">
        <div class="row">
          <div class="col-sm-6">
            Ví của tôi
            <div class="control">
              <button data-toggle="modal" data-target="#form-bp1" type="button" class="btn btn-rounded btn-space btn-primary"><i
                  class="icon icon-left mdi mdi-upload"></i>Thanh
                Toán</button>
              <button data-toggle="modal" data-target="#md-footer-success" type="button" class="btn btn-rounded btn-space btn-success"><i class="icon icon-left mdi mdi-download"></i>
                Nhận</button>
            </div>
          </div>
          <div class="col-sm-6">
            <h1>{{blockchain.balance}}</h1>
            <h1>ETH</h1>
          </div>
        </div>

      </div>
      <div class="panel-body">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">Giao dịch gần đây
          </div>
          <div class="panel-body">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>TxHash</th>
                  <th>Block</th>
                  <!-- <th>Age</th> -->
                  <th>From</th>
                  <th></th>
                  <th>To</th>
                  <th>Value</th>
                  <th>TxFee</th>
                </tr>
              </thead>
              <tbody class="no-border-x">
                <tr *ngFor="let item of recentTransactions">
                  <td>{{item.hash}}}</td>
                  <td>{{item.blockNumber}}</td>
                  <!-- <td>Chưa thực hiện</td> -->
                  <td>{{item.from}}}</td>
                  <td>{{item.from == myHashIdLowerCase ? 'OUT' : 'IN'}}</td>
                  <td>{{item.to}}</td>
                  <td>{{item.value.c[0]/10000}} ETH</td>
                  <td>{{(item.gas * item.gasPrice.c[0])/1000000000000000000}} ETH</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Form Modals-->
  <div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
          <h3 class="modal-title">Gửi tiền</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Địa chỉ người nhận</label>
            <input  [formControl]="hashId" type="text" placeholder="0x...." class="form-control">
          </div>
          <div class="form-group">
            <label>Số lượng</label>
            <input  [formControl]="number" type="number" placeholder="0" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="reset()" type="button" data-dismiss="modal" class="btn btn-default md-close">Hủy</button>
          <button (click)="send()" type="button" data-dismiss="modal" class="btn btn-primary md-close">Thực hiện</button>
        </div>
      </div>
    </div>
  </div>

  <div id="md-footer-success" tabindex="-1" role="dialog" style="" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
            <h3>Địa chỉ ví</h3>
            <p>{{myHashId}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-success">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
