<div class="be-content">
  <div class="main-content container-fluid">
    <div class="panel panel-default panel-border-color panel-border-color-primary">
      <div class="panel-heading panel-heading-divider">Chỉnh sửa hồ sơ<span class="panel-subtitle">Hãy điền đầy đủ các trường</span></div>
      <div class="panel-body">
        <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
          <div class="form-group">
            <label class="col-sm-3 control-label">Tên</label>
            <div class="col-sm-6">
              <input [formControl]="user.name" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-6">
              <input [formControl]="user.username"  type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Nghề nghiệp</label>
            <div class="col-sm-6">
              <input [formControl]="user.job"  type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Ngày sinh</label>
            <div class="col-sm-6">
              <input [formControl]="user.birthday"  type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Số điện thoại</label>
            <div class="col-sm-6">
              <input [formControl]="user.phone"  type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Địa chỉ</label>
            <div class="col-sm-6">
              <input [formControl]="user.address"  type="text" class="form-control">
            </div>
          </div>
          <div class="form-group text-center">
            <button type="button" (click)="save()" class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-cloud-done"></i> Lưu</button>
          </div>
     
        </form>
      </div>
    </div>
  </div>
</div>