<div class="be-content">
    <div class="main-content container-fluid">
      <div class="row wizard-row">
        <div class="col-md-12 fuelux">
          <div class="block-wizard panel panel-default ">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Ngày sinh</th>
                  <th>Nghề nghiệp</th>
                  <th>Số điện thoại</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody class="no-border-x">
                <tr *ngFor="let item of user">
                  <td>{{item.name}}</td>
                  <td>{{item.birthday}}</td>
                  <td>{{item.job}}</td>
                  <td>{{item.phone}}</td>
                  <td><button (click)="gotoInfo(item)" class="btn btn-space btn-primary btn-sm"><i class="icon icon-left mdi mdi-cloud-done"></i>
                      Xem thông tin</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  