.sidenav {
    width: 200px;
    position: absolute;
    top: 45px;
    bottom: 0;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    ul {
        li {
            text-align: center;
            display: block;
            margin: 5px 0;
            .btn-main {
                display: inline-block;
                width: 80%;
            }
        }
    }
}