<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle">Dashboard</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
              <li *ngFor="let item of listMenu" routerLinkActive="active" ><a  [routerLink]=item.link><i class="icon mdi {{item.classIcon}}" ></i><span>{{item.name}}</span></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>