<div class="be-content">
    <div class="main-content container-fluid">
      <div class="row wizard-row">
        <div class="col-md-12 fuelux">
          <div class="block-wizard panel panel-default ">
            <div id="wizard1" class="wizard wizard-ux ">
              <ul class="steps">
                <li [ngClass]="{'active': step===1}">Step 1<span class="chevron"></span></li>
                <li [ngClass]="{'active': step===2}">Step 2<span class="chevron"></span></li>
                <li [ngClass]="{'active': step===3}">Step 3<span class="chevron"></span></li>
              </ul>
              <div class="step-content">
                <div class="step-pane {{step===1 ? 'active' : ''}}">
                  <form data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                    <div class="form-group no-padding">
                      <div class="col-sm-7">
                        <h3 class="wizard-title">Thông tin bệnh nhân</h3>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Tên</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.name}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Tuổi</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.age}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Điện thoại</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.phone}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Ngày nhập viện</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.startDate}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Lý do nhập viện</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.reason}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Chuẩn đoán</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.result}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Tình trạng bệnh nhân lúc xuất viện</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.statusOut}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Ngày xuất viện</label>
                      <div class="col-sm-6">
                        <input type="text" value="{{payment.patient?.endDate}}" disabled class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button (click)="next()" type="button" class="btn btn-primary btn-space next">Next Step</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="step-pane {{step===2 ? 'active' : ''}}">
                  <form data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                    <div class="form-group no-padding">
                      <div class="col-sm-7">
                        <h3 class="wizard-title">Thông tin thanh toán</h3>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-7">
                        <label class="control-label">Giá tiền</label>
                        <p>Giá được tính cho tổng chi phí của bệnh viện</p>
                      </div>
                      <div class="col-sm-3 xs-pt-15">
                        <h4>{{payment.price?.priceStart}} ETH</h4>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-7">
                        <label class="control-label">Phí</label>
                        <p>Phí được mặc định bởi bệnh viện</p>
                      </div>
                      <div class="col-sm-3 xs-pt-15">
                        <h4>{{payment.price?.fee}} ETH</h4>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-7">
                        <label class="control-label">Tổng tiền</label>
                        <p>Tổng chi phí bao gồm giá tiền và phí chuyển.</p>
                      </div>
                      <div class="col-sm-3 xs-pt-15">
                        <h4>{{payment.price?.total}} ETH</h4>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <button (click)="previous()" type="button" class="btn btn-default btn-space wizard-previous">Previous</button>
                        <button (click)="next()" type="button" class="btn btn-primary btn-space next">Next Step</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="step-pane {{step===3 ? 'active' : ''}}">
                  <div class="col-sm-12">
                    <h4>Thanh toán thành công</h4>
                    <button (click)="next()" type="button" class="btn btn-primary btn-space next">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  