<div class="be-content">

  <div class="main-content container-fluid">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        Ví của tôi: {{hashId}}
      </div>
      <div class="panel-body">
        <table class="table table-striped table-borderless">
          <tbody class="no-border-x">
            <tr>
              <td>Số giao dịch đã gửi</td>
              <td>{{numberTransactionsSent}}</td>
            </tr>
            <tr>
              <td>Số dư</td>
              <td>{{blockchain.balance}} ETH</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>