.navbar .be-right-navbar .balance {
  display: block;
  float: right;
  margin: 0;
  line-height: 60px;
  padding: 0 20px;
}

#dashboard .main-content .panel-heading h1 {
  margin: 0;
  text-align: right;
}

#dashboard .main-content .panel-heading .control {
  margin-top: 10px;
}

#dashboard .main-content .panel-heading .control .btn {
  min-width: 110px;
}

#dashboard .main-content .panel-heading .control .btn .icon.icon-left {
  margin-right: 5px;
}

.hide {
  display: none;
}

/*# sourceMappingURL=custom.css.map */
