.navbar {
    .be-right-navbar {
        .balance {
            display: block;
            float: right;
            margin: 0;
            line-height: 60px;
            padding: 0 20px;
        }
    }
}

#dashboard {
    .main-content  {
        .panel-heading {
            h1 {
                margin: 0;
                text-align: right;
            }
            .control {
                margin-top: 10px;
                .btn {
                    min-width: 110px;
                    .icon.icon-left {
                        margin-right: 5px;
                    }
                }
            }
        }
        
    }
}