.layout {
  position: relative;

  .main {
    margin-left: 200px;
    padding: 15px;
    background: #edf5f9;

    .content {
      min-height: calc(100vh - 75px);
      padding: 15px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: .25rem;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, .15);
    }
  }
}
