<div *ngIf="user" class="be-content">
  <div class="main-content container-fluid">
    <div class="user-profile">
      <div class="row">
        <div class="col-md-5">
          <div class="user-display">
            <div class="user-display-bg"><img src="assets/img/user-profile-display.png" alt="Profile Background"></div>
            <div class="user-display-bottom">
              <div class="user-display-avatar"><img src="assets/img/avatar-150.png" alt="Avatar"></div>
              <div class="user-display-info">
                <div class="name">{{user.name || ''}}</div>
                <div class="nick"><span class="mdi mdi-account"></span> {{user.username || ''}}</div>
              </div>
              <div class="row user-display-details">
                <div class="col-xs-12 text-center">
                  <div class="control">
                    <button routerLink="/record/edit" class="btn btn-space btn-success btn-big"><i class="icon mdi mdi-edit"></i> Edit</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="user-info-list panel panel-default">
              <div class="panel-heading panel-heading-divider">Thông tin cá nhân</div>
              <div class="panel-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                    <tr>
                      <td class="icon"><span class="mdi mdi-case"></span></td>
                      <td class="item">Nghề nghiệp<span class="icon s7-portfolio"></span></td>
                      <td>{{user.job || ''}}</td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Ngày sinh<span class="icon s7-gift"></span></td>
                      <td>{{user.birthday || ''}}</td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-smartphone-android"></span></td>
                      <td class="item">Số điện thoại<span class="icon s7-phone"></span></td>
                      <td>{{user.phone || ''}}</td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Địa chỉ<span class="icon s7-map-marker"></span></td>
                      <td>{{user.address || ''}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-divider">Các lần đi khám</div>
            <div class="panel-body">
              <ul class="user-timeline">
                <li class="latest">
                  <div class="user-timeline-date">Just Now</div>
                  <div class="user-timeline-title">Phòng khám Đông Y</div>
                </li>
                <li>
                  <div class="user-timeline-date">Today - 15:35</div>
                  <div class="user-timeline-title">Phòng khám Tâm Trí</div>
                </li>
                <li>
                  <div class="user-timeline-date">Yesterday - 10:41</div>
                  <div class="user-timeline-title">Vin Mec</div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>